{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kam</title>
    </head>
    

    <body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col items-center justify-center">
        <div class="w-full px-6 py-8 bg-white rounded-2xl shadow-lg max-w-screen-xl mx-auto">
          {% block content %}
          {% endblock %}
        </div>
      </body>

</html>