{% extends "kam/base.html" %}
{% block content %}
{% load static %}
{% load qr_code %}


<h1 class="text-4xl font-bold mb-8 text-center">{{ album.name }} - Picture Gallery</h1>
<p class="text-lg text-center text-gray-700 mb-8">{{ album.description }}</p>

<div class="flex flex-col items-center gap-4 mb-8">
  {% if request.user.is_authenticated %}
    <a href="{% url 'kam:all_albums' %}">
      <button class="bg-black text-white px-4 py-2 rounded-full hover:bg-gray-800 transition">
        View All Albums
      </button>
    </a>


    <h3>Share this QR code to let others add pictures:</h3>
    <div>{% qr_from_text album_url size="T" image_format="png" %}</div>
  {% endif %}

  <a href="{% url 'kam:take_picture' album.id %}">
    <button class="bg-black text-white px-4 py-2 rounded-full hover:bg-gray-800  transition">
      Snap a Picture
    </button>
  </a>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  {% for picture in pictures %}
    <div class="bg-white rounded-xl overflow-hidden shadow-lg">
      <img src="{{ picture.image.url }}" alt="Picture" class="w-full h-auto object-cover" />
    </div>
  {% endfor %}
</div>

{% endblock %}
