{% extends "kam/base.html" %}
{% block content %}
{% load static %}

<link rel="manifest" crossorigin="use-credentials" href="/kam/manifest.json" />


<h1 class="text-5xl font-bold mb-6 text-center">Welcome to Kam!</h1>


<div id="divInstallApp"></div>


<!-- user logged in -->
{% if request.user.is_authenticated %}
<div class="flex flex-col items-center gap-5">

  <a href="{% url 'kam:all_albums' %}">
    <button class="bg-black text-white px-4 py-2 rounded-full hover:bg-gray-800 transition items-center justify-center">View All Albums</button>
  </a>

  <a href="{% url 'account_logout' %}">
    <button class="bg-black text-white px-4 py-2 rounded-full hover:bg-gray-800 transition items-center justify-center">Logout</button>
  </a>
</div>


<!-- user not logged in -->
{% else %}
<div class="flex justify-center">
<a href="{% url 'account_login' %}">
    <button class="bg-black text-white px-4 py-2 rounded-full hover:bg-gray-800 transition">Login</button>
  </a>
</div>
{% endif %}


<script>
    if ("serviceWorker" in navigator) {
            navigator.serviceWorker
            .register("/serviceworker.js", { scope: "/" })
            .then((registration) => {
                registration.unregister().then((boolean) => {
                });
            })
            .catch((error) => {
                
            });
            // Befor install prompt start
            window.addEventListener('beforeinstallprompt', event => {
            event.preventDefault();
            var installDiv = document.getElementById('divInstallApp');
            installDiv.innerHTML = '<button id="installApp" class="btn btn-outline-secondary ms-1">Install App</button>';
            installDiv.addEventListener('click', () => {
                event.prompt();
                installDiv.innerHTML = ""
            });
            });
            // Before install prompt end
        }
    </script>

{% endblock %}