


<h1> This is the main homepage </h1>


<!-- user logged in -->
{% if request.user.is_authenticated %}

<a href="{% url 'kam:create_album' %}">
    <button type="button">Create Album</button>
</a>


<a href="{% url 'kam:all_albums' %}">
    <button type="button">View All Albums</button>
</a>


<a href="{% url 'account_logout' %}">
    <button type="button">Logout</button>
</a>


<!-- user not logged in -->
{% else %}
<a href="{% url 'account_login' %}">
    <button type="button">Login</button>
</a>
{% endif %}



