<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Capture</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="manifest" crossorigin="use-credentials" href="/kam/manifest.json" />
</head>
<body>
    <form id="picture-form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" id="image-data" name="image_data">

        <!-- Camera Video Stream -->
        <video id="camera-stream" autoplay playsinline></video>

        <!-- Hidden Canvas for Capture -->
        <canvas id="image-capture"></canvas>

        <!-- Snap Button -->
        <button type="button" onclick="captureImageAndSubmit()">Snap ;)</button>
    </form>

    <script>
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function(stream) {
                    const videoElement = document.getElementById('camera-stream');
                    videoElement.srcObject = stream;
                })
                .catch(function(error) {
                    console.error("Error accessing the camera", error);
                });
        } else {
            alert("Camera API not supported by this browser.");
        }

        function captureImageAndSubmit() {
            const canvas = document.getElementById('image-capture');
            const context = canvas.getContext('2d');
            const video = document.getElementById('camera-stream');

            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            const imageDataUrl = canvas.toDataURL('image/png');
            const imageInput = document.getElementById('id_image');
            imageInput.value = imageDataUrl;

            document.getElementById('picture-form').submit();
        }
    </script>

    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker
                .register("/serviceworker.js", { scope: "/" })
                .then((registration) => {
                    console.log("Service Worker registered with scope:", registration.scope);
                })
                .catch((error) => {
                    console.error("Service Worker registration failed:", error);
                });
        }
    </script>
</body>
</html>
